.header__wrapper {
    position: relative;
}
.header__wrapper-top {
    background-color: var(--second-brand-color);
    padding: 2rem 1rem;
    text-align: right;
}
.header {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 1.8rem;
    font-family: var(--title-font);
    z-index: 10;
}
body.open-menu {
    overflow: hidden;
}
.nav__item {
    text-align: left;
}
.header__btn {
    width: 4rem;
    height: 4rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23000' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 472.586 472.586' style='enable-background:new 0 0 472.586 472.586;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Crect width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='173.952' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='347.865' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect y='173.952' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='173.952' y='173.952' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='347.865' y='173.952' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect y='347.865' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='173.952' y='347.865' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Crect x='347.865' y='347.865' width='124.721' height='124.721'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #fff;
    width: 100%; 
    height: 100%;
    min-height: 100vh;
    z-index: 9;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.6s ease-in-out;
}
.nav__list {
    max-width: 170rem;
    margin-left: auto;
    margin-right: auto;
    padding: 15rem 1.6rem;
    opacity: 0;
    transition-delay: .6s;
    transition-duration: .4s;
    transition-timing-function: ease;
    transition-property: opacity;
}
.nav__item:not(:last-child) {
    margin-bottom: 3rem;
}
.nav__link {
    color: #000;
    font-size: 1.4rem;
}
.nav.open-menu {
    left: 0;
    visibility: visible;
}
.open-menu .nav__list {
    opacity: 1;
}
.cart__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.8rem;
    font-family: var(--title-font);
    transition: all 0.3s ease-in-out;
}
.cart__btn svg {
    display: block;
    width: 3rem;
    margin: 0 1rem;
}
.cart__span {
    font-size: 1.8rem;
    font-family: var(--title-font);
}
@media screen and (min-width: 1024px) {
    .header {
        padding: 1rem 0;
    }
    .logo {
        font-size: 2.2rem;
    }
    .nav {
        position: relative;
        background-color: transparent;
        width: 100%; 
        height: fit-content;
        min-height: fit-content;
        visibility: visible;
        overflow: visible;
        top: initial;
        left: initial;
        margin: 0 auto;
    }
    .nav__list {
        padding: 0;
        opacity: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .nav__link {
        position: relative;
        text-transform: uppercase;
        /* color: #fff; */
    }
    .nav__link::after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        width: 0;
        height: 0.1rem;
        background-color: var(--main-text-color);
        bottom: -.3rem;
        transition: all .3s ease-in-out;
    }
    .nav__link:hover::after {
        width: 100%;
    }
    .cart__btn--desc {
        z-index: 10;
    }
    .header__btn {
        display: none;
    }
}
@media screen and (min-width: 1440px) {
  
    .cart__btn:hover {
        transform: scale(1.2);
    }
}