.hero__wrapper {
    background-image: url('../img/bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero {
    padding: 30rem 0;
}
.info__wrapper {
    margin-top: 15rem;
    background-image: url('../img/image3.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;  
}
.info {
    padding: 20rem 0;
    text-align: center;
    background-color: rgba( 0, 0, 0, 0.3 );
}
.info .text {
    font-size: 2.5rem;
}
@media screen and (min-width: 1024px) {
  
}