.hero__wrapper {
    background-image: url('../img/bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero {
    padding: 30rem 0;
}


.info {
    background-image: url('../img/bg2.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 25rem 0;
}
@media screen and (min-width: 1024px) {
  
}